.Form-add{
    font-weight: bold;
    padding-left:37%;
    width: 98%;
}

.heading{
    font-weight: 1000;
    padding-left: 38%;
}


.btn1{
margin-left: 18%;
}

.Divv{
    background-color: #d1d1d1;
    padding-bottom: 10%;
    height: 100%;
}

.search-area{
    margin-right: 7%;
}
